<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label : %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :mother_board %>
    <%= f.text_area :mother_board, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cpu %>
    <%= f.text_area :cpu, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :memory %>
    <%= f.text_area :memory, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :storage %>
    <%= f.text_area :storage, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :graphic_board %>
    <%= f.text_area :graphic_board, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :case %>
    <%= f.text_area :case, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :power %>
    <%= f.text_area :power, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :compatibility %>
    <%= f.text_area :compatibility, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>