<div class='container px-5 px-sm-0'>
  <div class='row shadow p-3 mb-5 rounded'>
    <div class='col-lg-3'>
      <div class='col-md-8 offset-md-1'>
        <%= link_to  new_public_post_path do %>
        <div class="border text-center">新規登録</div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="col-lg-8 offset-lg-2">
        <h2>投稿一覧（全<%= @posts.count %>件）</h2>
        <%= render 'index', posts: @posts%>
      </div>
    </div>
    <div class='col-lg-2 border-start (border-width: 2px)'>
      <h3>タグ一覧 (全<%= @tag_list.count %>件) </h3>
      <%= render 'tag_list', tag_list: @tag_list%>
    </div>
  </div>
</div>
