<table>
  <% post.post_comments.each do |post_comment| %>
  <tr>
    <td><%= link_to public_customer_path(post_comment.customer.id) do %>
      <%= post_comment.customer.name %>
      <% end %>
    </td>
    <td><%= post_comment.comment %></td>
    <tr>
      <th><%= post_comment.rate %></th>
      <td>
        <div id="star-rate<%= post_comment.id%>"></div>
        <script>
          $('#star-rate<%= post_comment.id%>').empty();
          $('#star-rate<%= post_comment.id%>').raty({
            size      : 36,
            starOff   : '<%= asset_path('star-off.png') %>',
            starOn    : '<%= asset_path('star-on.png') %>',
            half      : false,
            readOnly: true,
            score: <%= post_comment.rate %>,
          });
        </script>
      </td>
    </tr>
    <td>
      <% if post_comment.customer == current_customer %>
        <%= link_to "削除する", public_post_post_comment_path(post, post_comment.id), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>